<main>
  <header>
    <!-- Sezione superiore-->
    <div class="sfondo"></div>
    <div class="photo">
      <img src="{{ user?.image }}" alt="" />
    </div>
    <div id="pencil-container">
      <img
        id="pencil"
        src="../../assets/pencil.png"
        alt=""
        (click)="open(content)"
      />
    </div>
    <!-- Fine sezione superiore-->
    <!-- Sezione centrale-->
    <div class="central">
      <h4>{{ user?.name }} {{ user?.surname }}</h4>
      <p class="job">{{ user?.title }}</p>
      <p class="area">
        Abito a {{ user?.area }} •
        <button class="btn btn-link text-decoration-none" (click)="openModal()">
          Contact info
        </button>
      </p>
    </div>

    <div class="container">
      <div class="modal">
        <!-- Modale aggiorna profilo -->
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Modifica presentazione
            </h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="updateProfile()">
              <div class="mb-3">
                <label for="name">Nome</label>
                <div class="input-group">
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    [(ngModel)]="name"
                    name="name"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="surname">Cognome</label>
                <div class="input-group">
                  <input
                    type="text"
                    id="surname"
                    class="form-control"
                    [(ngModel)]="surname"
                    name="surname"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="title">Sommario</label>
                <div class="input-group">
                  <input
                    type="text"
                    id="title"
                    class="form-control"
                    [(ngModel)]="title"
                    name="title"
                  />
                </div>
              </div>
            </form>
          </div>
          <!-- SAVE CHANGES -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="modal.close('Save click'); updateProfile()"
            >
              Salva
            </button>
          </div>
        </ng-template>
        <!-- Fine modale -->
      </div>

      <!-- Modale info di contatto -->
      <ng-template #contactModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ user?.name }} {{ user?.surname }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Contact Info</h5>
          <p>Your profile: {{ user?.username }}</p>
          <p>Email: {{ user?.email }}</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </ng-template>
      <!-- Fine modale -->

      <div class="element">
        <div class="row">
          <div class="col info-col">
            <div ngbDropdown class="d-flex">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="info1"
                ngbDropdownToggle
              >
                Disponibile per
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>
                  <h5>Servizi offerti</h5>
                  <p class="p">
                    Metti in risalto i servizi che offri, <br />così i nuovi
                    clienti potranno trovarti
                  </p>
                </button>
                <button ngbDropdownItem>
                  <h5>Selezione del personale</h5>
                  <p class="p">
                    Fai sapere che stai facendo <br />selezione e attrai
                    candidati
                    <br />
                    qualificati
                  </p>
                </button>
              </div>
            </div>
          </div>
          <div class="info2">Aggiungi sezione del profilo</div>
        </div>
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-flex">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="info3"
                ngbDropdownToggle
              >
                Altro
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-90deg-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"
                    /></svg
                  >Invio il profilo in un messaggio
                </button>
                <button ngbDropdownItem>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-download"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                      d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                    /></svg
                  >Salva come PDF
                </button>
                <button ngbDropdownItem>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-info-square-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                    /></svg
                  >Informazioni su questo profilo
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CAROSELLO -->
    <!-- <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <div class="d-flex">
            <div>
              <p><b>Disponibile a lavorare</b></p>
              <p>Ruoli di Sviluppatore front-end</p>
              <p class="text-primary"><b>Mostra dettagli</b></p>
            </div>
            <div>
              <p><b>Fai Sapere che stai facendo selezione e attrai</b></p>
              <p>candidati qualificati.</p>
              <p class="text-primary"><b>Inizia</b></p>
            </div>
            <div>
              <p><b>Metti in risalto i servizi</b> e offri, così tu e la tua</p>
              <p>azienda potrete apparire nei risultati di ricerca.</p>
              <p class="text-primary"><b>Inizia</b></p>
            </div>
          </div>
        </div>
        >
      </ng-template>
    </ngb-carousel> -->
    <!-- OLD -->
    <div #blocchi class="blocchi">
      <p (click)="slideRight(blocchi)">&#8594;</p>
      <div class="blocco1">
        <p><b>Disponibile a lavorare</b></p>
        <p>Ruoli di Sviluppatore front-end</p>
        <p class="text-primary"><b>Mostra dettagli</b></p>
      </div>
      <div class="blocco2">
        <p><b>Fai Sapere che stai facendo selezione e attrai</b></p>
        <p>candidati qualificati.</p>
        <p class="text-primary"><b>Inizia</b></p>
      </div>
      <div class="blocco3">
        <p><b>Metti in risalto i servizi</b> e offri, così tu e la tua</p>
        <p>azienda potrete apparire nei risultati di ricerca.</p>
        <p class="text-primary"><b>Inizia</b></p>
      </div>
      <p (click)="slideLeft(blocchi)">&#8592;</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        class="bi bi-arrow-right-circle-fill"
        id="freccia"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
        />
      </svg>
    </div>
  </header>
  <!-- ANALISI -->
  <div class="analytics-container">
    <div class="analytics-row">
      <div class="col analytics-header">
        <h5>Analisi</h5>
        <div class="d-flex align-items-center">
          <img
            class="analytics-eye-img"
            src="../../../assets/analytics-eye.png"
            alt=""
          />
          <p class="fs-6 mb-0">Solo per te</p>
        </div>
      </div>
      <!-- visualizzazioni profilo -->
      <div class="analytics-col d-flex">
        <div class="d-flex">
          <img
            class="analytics-img"
            src="../../../assets/analytics-people.png"
            alt=""
          />
          <div class="d-flex flex-column ps-2">
            <p class="fw-semibold mb-1">
              {{ randomNumFirst }} visualizzazioni del profilo
            </p>
            <p class="sizeP mb-1">Scopri chi ha visitato il tuo profilo</p>
          </div>
        </div>
        <!-- interazioni post -->
        <div class="d-flex ps-3 pe-3">
          <img
            class="analytics-img"
            src="../../../assets/analytics-graph.png"
            alt=""
          />
          <div class="d-flex flex-column ps-2">
            <p class="fw-semibold mb-1">
              {{ randomNumSecond }} impressioni frl pody
            </p>
            <p class="sizeP mb-1">Scopri chi sta interagendo con i tuoi post</p>
          </div>
        </div>
        <!-- comparse motori ricerca -->
        <div class="d-flex">
          <img
            class="analytics-img"
            src="../../../assets/analytics-magnifier.png"
            alt=""
          />
          <div class="d-flex flex-column ps-2">
            <p class="fw-semibold mb-1">
              {{ randomNumThird }} comparse nei motori di ricerca
            </p>
            <p class="sizeP mb-1">
              Vedi quante volte compari nei risultati di ricerca
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RISORSE -->
  <app-resources></app-resources>

  <!-- INFORMAZIONI -->
  <div class="resources-container">
    <div class="resources-row">
      <div class="col resources-header">
        <h5>Informazioni</h5>
        <p id="info-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          eos! Quaerat dicta ipsa debitis quo possimus quam, minima ducimus,
          quos officia accusamus tenetur quisquam ullam esse error corrupti
          totam. Nulla! Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Natus est maiores, nemo illum placeat ducimus tempore suscipit
          eveniet expedita nam voluptatem! Perspiciatis natus fugit, voluptates
          iusto voluptas architecto dicta quos.
        </p>
      </div>
    </div>
  </div>
  <section class="container-post px-3 pt-3">
    <h5>Attività</h5>

    <div *ngFor="let post of posts" class="post">
      <div class="post-content">
        <p id="post-header">
          <span class="fw-lighter">Pubblicato da •</span>
          <span>{{ post.username }}</span>
        </p>
        <p id="post-text">{{ post.text }}</p>
      </div>
      <hr />
    </div>
    <h6>Scrivi il tuo post</h6>
    <form (ngSubmit)="createMyPost()">
      <input
        type="text"
        id="content"
        class="form-control form-post"
        name="content"
        [(ngModel)]="newPost.text"
        placeholder="Scrivi il tuo post"
      />
      <button class="post-button btn btn-outline-primary" type="submit">
        Pubblica
      </button>
    </form>
  </section>
  <app-experience></app-experience>
</main>

<app-aside></app-aside>
