:host {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

main {
  width: 50%;
}

header {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}

.sfondo {
  background-image: url("/assets/LinkedIn-Default-Background-2020-.png");
  width: 100%;

  height: 150px;
}

.photo {
  width: 100px;
  height: 100px;
  background: #b0b2b3;
  border-radius: 50%;
  border: 0.9px solid white;
  z-index: 2;
  position: absolute;
  margin-top: -80px;
  margin-left: 15px;
  text-align: center;
  overflow: hidden;
  object-fit: contain;
}

.photo img {
  object-fit: contain;
  width: 100%;
}

#pencil-container {
  display: flex;
  flex-direction: row-reverse;
}

#pencil {
  width: 30px;
  margin: 15px 15px -45px;
  cursor: pointer;
}

#pencil:hover {
  background-color: #d9d7d7;
  border-radius: 50%;
}

button {
  border-radius: 25px;
}

.bi-camera {
  margin-top: 40px;
}

.central {
  background-color: white;
  width: 600px;
  height: 80px;
  margin-top: 40px;
  margin-left: 20px;
}

// p {
//   line-height: 0.2em;
//   margin: 2px;
// }

.area {
  font-weight: 100;
  font-size: 0.9em;
}

.info-col {
  margin-left: -15px;
}

#info1 {
  background-color: #0a66c2;
  padding: 3px;
  border-radius: 40px 40px 40px 40px;
  color: white;
  width: 140px;
  height: 33px;
  text-align: center;
  margin-top: 2px;
  font-weight: 500;
}

.info2 {
  background-color: white;
  margin-left: -3px;
  border-radius: 40px 40px 40px 40px;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  padding: 3px;
  width: 220px;
  text-align: center;
}

#info3 {
  margin-left: 20px;
  padding: 3px;
  border-radius: 40px 40px 40px 40px;
  color: grey;
  border: 1px solid grey;
  background-color: white;
  width: 60px;
  text-align: center;
  margin-top: 2px;
}
.element {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.blocchi {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 20px;
}
.blocco1 {
  background-color: #dde7f1;
  border: 5px;
  border-radius: 18px;
  width: 340px;
  height: 95px;
}

.blocco2 {
  border: 0.7px solid #a8a8a8;
  border-radius: 18px;
  margin-left: 30px;
  width: 340px;
  height: 95px;
}
.blocco3 {
  border: 0.7px solid #a8a8a8;
  border-radius: 18px;
  margin-left: 730px;
  width: 540px;
  position: absolute;
  z-index: 1;
  height: 95px;
}

.blocchi p {
  // margin-left: 20px;
  // margin-top: -7px;
  line-height: 1em;
}

.blocchi div {
  padding: 5px;
}

#freccia {
  margin-top: 35px;
  z-index: 3;
  margin-left: 910px;
  opacity: 50%;
  position: absolute;
  cursor: pointer;
}

.p {
  font-size: 0.8em;
}

.sizeP {
  font-size: 0.9rem;
}

h5 {
  font-size: 1em;
}

// Aggiunte

.analytics-container {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10px;
  display: flex;
}

.analytics-row {
  flex-direction: column;
  display: flex;
  margin: 18px;
}

.analytics-col {
  flex-direction: row;
}

.risources-col {
  flex-direction: column;
}

.analytics-header {
  align-items: center;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.3em;
}

.analytics-eye-img {
  height: 20px;
}

.analytics-img {
  height: 30px;
}

.resources-container {
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 20px;
  margin-top: 10px;
  display: flex;
}

.resources-row {
  flex-direction: column;
  display: flex;
}

.resources-col {
  flex-direction: row;
}

.resources-header {
  align-items: center;
  margin: 19px;
}

#info-text {
  line-height: 1.3em;
  font-size: 0.9em;
}

.show-all-resources {
  background-color: #a8a8a8;
}
