header {
  width: 50%;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding-bottom: 20px;
  margin-left: 200px;
  margin-top: 40px;
}

.sfondo {
  background-color: #a6acb2;
  width: 100%;

  height: 150px;
}

.photo {
  width: 100px;
  height: 100px;
  background: #b0b2b3;
  border-radius: 50%;
  border: 0.9px solid white;
  z-index: 1;
  position: absolute;
  margin-top: -80px;
  margin-left: 15px;
  text-align: center;
  overflow: hidden;
  object-fit: contain;
}

img {
  object-fit: contain;
  width: 100%;
}
.bi-camera {
  margin-top: 40px;
}

.central {
  background-color: white;
  width: 600px;
  height: 150px;
  margin-top: 40px;
  margin-left: 20px;
}

p {
  margin: 5px;
}

.info1 {
  background-color: #0a66c2;
  padding: 3px;
  border-radius: 40px 40px 40px 40px;
  color: white;
  width: 140px;
  height: 33px;
  text-align: center;
  margin-top: 2px;
  font-weight: 500;
}

.info2 {
  background-color: white;
  margin-left: 10px;
  border-radius: 40px 40px 40px 40px;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  padding: 3px;
  width: 220px;
  text-align: center;
}

.info3 {
  margin-left: 10px;
  padding: 3px;
  border-radius: 40px 40px 40px 40px;
  color: grey;
  border: 1px solid grey;
  background-color: white;
  width: 60px;
  text-align: center;
  margin-top: 2px;
}
.element {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.blocchi {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 20px;
}
.blocco1 {
  background-color: #dde7f1;
  border: 5px;
  border-radius: 18px;
  width: 340px;
  height: 90px;
}

.blocco2 {
  border: 0.7px solid #a8a8a8;
  border-radius: 18px;
  margin-left: 30px;
  width: 440px;
}

.blocchi p {
  // margin-left: 20px;
  // margin-top: -7px;
  line-height: 1em;
}

.blocchi div {
  padding: 5px;
}
