.sfondo {
  background-color: #a6acb2;
  width: 600px;
  height: 150px;
}

.photo {
  width: 100px;
  height: 100px;
  background: #b0b2b3;
  border-radius: 50%;
  border: 0.9px solid white;
  z-index: 1;
  position: absolute;
  margin-top: -80px;
  margin-left: 15px;
  text-align: center;
}
.bi-camera {
  margin-top: 40px;
}

.central {
  background-color: white;
  width: 600px;
  height: 150px;
  margin-top: 40px;
  margin-left: 20px;
}

p {
  margin: 5px;
}

.info1 {
  background-color: #0a66c2;

  border-radius: 40px 40px 40px 40px;
  color: white;
  width: 140px;
  height: 33px;
  text-align: center;
  margin-top: 2px;
  font-weight: 500;
}

.info2 {
  background-color: white;
  margin-left: 10px;
  border-radius: 40px 40px 40px 40px;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  padding: 3px;
  width: 220px;
  text-align: center;
}

.info3 {
  margin-left: 10px;
  border-radius: 40px 40px 40px 40px;
  color: grey;
  border: 1px solid grey;
  background-color: white;
  width: 60px;
  text-align: center;
  margin-top: 2px;
}
.element {
  display: flex;
  flex-direction: row;
}
