<header>
  <div class="container">
    <div class="sfondo">fdsfsdf</div>
    <div class="photo">
      <img src="{{ user.image }}" alt="" />
    </div>
    <div class="central">
      <h4>{{ user.name }} {{ user.surname }}</h4>
      <p class="job">{{ user.title }}</p>
      <p>
        Abito a {{ user.area }} •
        <button class="btn btn-link" (click)="openModal()">Contact info</button>
      </p>
    </div>

    <ng-container *ngIf="showModal">
      <div
        class="modal fade show"
        style="display: block"
        id="contactModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="contactModalLabel"
        aria-hidden="true"
      >
        <p>Email: {{ user.email }}</p>
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
      <div class="modal-backdrop fade show"></div>
    </ng-container>
    <div class="element">
      <div class="info1">Disponibile per</div>

      <div class="info2">Aggiungi sezione del profilo</div>
      <div class="info3">Altro</div>
    </div>
    <div class="blocchi">
      <div class="blocco1">
        <p>Disponibile a lavorare</p>
        <p>Ruoli di Sviluppatore front-end</p>
        <p class="text-primary">Mostra dettagli</p>
      </div>
      <div class="blocco2">
        <p>Fai Sapere che stai facendo selezione e attrai</p>
        <p>candidati qualificati.</p>
        <p class="text-primary">inizia</p>
      </div>
    </div>
  </div>
</header>
