<div class="experience-container">
  <div class="experience-header">
    <a class="arrow-left" *ngIf="isExperiencePage" routerLink="/profile">
      <p>&#8592;</p>
    </a>
    <div class="central">
      <h2>Experiences</h2>
    </div>
  </div>
  <div
    *ngFor="let experience of experiences"
    class="experience-box"
    (click)="openModal(experience._id)"
  >
    <h3>{{ experience.role }}</h3>
    <p>Azienda: {{ experience.company }}</p>
    <p>Descrizione: {{ experience.description }}</p>
    <p>Area: {{ experience.area }}</p>
    <p>Data di inizio: {{ experience.startDate | date }}</p>
    <p>Data di fine: {{ experience.endDate | date }}</p>
    <button class="btn btn-danger" (click)="deleteExperience()">
      Elimina esperienza
    </button>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifica presentazione</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="createExperience()">
        <div class="mb-3">
          <label for="role">Lavoro</label>
          <div class="input-group">
            <input
              type="text"
              id="role"
              class="form-control"
              [(ngModel)]="newExperience.role"
              name="role"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="company">Azienda</label>
          <div class="input-group">
            <input
              type="text"
              id="company"
              class="form-control"
              [(ngModel)]="newExperience.company"
              name="company"
            />
          </div>
          <label for="role">Descrizione</label>
          <div class="input-group">
            <input
              type="text"
              id="description"
              class="form-control"
              [(ngModel)]="newExperience.description"
              name="description"
            />
          </div>
          <label for="role">Area</label>
          <div class="input-group">
            <input
              type="text"
              id="area"
              class="form-control"
              [(ngModel)]="newExperience.area"
              name="area"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="startDate">Data di inizio</label>
          <div class="input-group">
            <input
              type="date"
              id="startDate"
              class="form-control"
              [(ngModel)]="newExperience.startDate"
              name="startDate"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="endDate">Data di fine</label>
          <div class="input-group">
            <input
              type="date"
              id="endDate"
              class="form-control"
              [(ngModel)]="newExperience.endDate"
              name="endDate"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary ms-4" (click)="buttonHandler()">
    {{ isExperiencePage ? "Modify experiences" : "Go to experience section" }}
  </button>
</div>
