<aside>
  <div class="container">
    <div class="grid">
      <div id="first-box">
        <div class="mx-3">
          <h5 class="mt-3">Lingua del profilo</h5>
          <p class="fw-light">Italiano</p>
          <hr />
          <h5>Public profile & URL</h5>
          <p class="fw-light">
            www.linkedin.com/{{ this.user.username }}-{{
              this.user._id.slice(0, 6)
            }}
          </p>
        </div>
      </div>
      <div id="second-box">
        <div class="girl">
          <img
            src="https://media.licdn.com/media/AAYQAgTPAAgAAQAAAAAAADVuOvKzTF-3RD6j-qFPqhubBQ.png"
            alt="Img Ragazze"
          />
        </div>
      </div>
      <div id="third-box">
        <div class="mx-3">
          <div class="col-12">
            <h5 class="mt-3">Persone che potresti conoscere</h5>
          </div>

          <ng-container *ngFor="let profile of suggestedProfiles">
            <a id="aside-people-link" [routerLink]="['/profile/', profile._id]">
              <div class="row">
                <div class="col-2">
                  <img
                    [src]="profile.image"
                    alt="Suggested Profile"
                    class="rounded-circle"
                    width="50px"
                  />
                </div>
                <div class="col">
                  <p id="aside-people-header">
                    {{ profile.name }} {{ profile.surname }}
                  </p>
                  <p class="aside-people-text">{{ profile.title }}</p>
                  <p class="aside-people-text">{{ profile.area }}</p>
                  <button class="btn btn-outline-dark rounded-pill">
                    Collegati
                  </button>
                </div>
              </div>
            </a>

            <hr />
          </ng-container>
          <p class="text-center">Mostra tutto</p>
        </div>
      </div>
    </div>
    <div id="second-box">
      <div class="girl">
        <img
          src="https://media.licdn.com/media/AAYQAgTPAAgAAQAAAAAAADVuOvKzTF-3RD6j-qFPqhubBQ.png"
          alt="Img Ragazze"
        />
      </div>
    </div>
  </div>
</aside>
