<div class="post-container">
  <div class="post-header">
    <a class="arrow-left" *ngIf="isPostPage" routerLink="/profile">
      <p>&#8592;</p>
    </a>
    <div class="central">
      <h5>
        Post
        <span
          ><img
            id="plus"
            class="pencil-plus"
            src="../../assets/plus.png"
            alt="" />
          <img
            id="pencil"
            *ngIf="!isPostPage"
            class="pencil-plus"
            src="../../assets/pencil.png"
            alt=""
            (click)="buttonHandler()"
        /></span>
      </h5>
    </div>
  </div>
  <div *ngFor="let post of posts" class="post-box">
    <div company-img-container>
      <img id="company-img" src="../../assets/ghost-company.png" alt="" />
    </div>
    <div id="post-info-container">
      <p id="post-role">{{ post.role }}</p>
      <p>{{ post.company }}</p>
      <p class="post-date-area-info">
        {{ post.startDate | date : "MMM yy" }} -
        <span
          >{{ post.endDate | date : "MMM yy" }} •
          {{ calculateDateDifference(post.startDate, post.endDate) }}
        </span>
      </p>
      <p class="post-date-area-info">{{ post.area }}</p>
      <p id="post-description">{{ post.description }}</p>
      <img
        *ngIf="isPostPage"
        class="pencil-plus"
        src="../../assets/pencil.png"
        alt=""
        (click)="openModifyModal(post._id)"
      />
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifica presentazione</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="createPost()">
        <div class="mb-3">
          <label for="role">Lavoro</label>
          <div class="input-group">
            <input
              type="text"
              id="role"
              class="form-control"
              [(ngModel)]="newPost.role"
              name="role"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="company">Azienda</label>
          <div class="input-group">
            <input
              type="text"
              id="company"
              class="form-control"
              [(ngModel)]="newPost.company"
              name="company"
            />
          </div>
          <label for="role">Descrizione</label>
          <div class="input-group">
            <input
              type="text"
              id="description"
              class="form-control"
              [(ngModel)]="newPost.description"
              name="description"
            />
          </div>
          <label for="role">Area</label>
          <div class="input-group">
            <input
              type="text"
              id="area"
              class="form-control"
              [(ngModel)]="newPost.area"
              name="area"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="startDate">Data inizio</label>
          <div class="input-group">
            <input
              type="date"
              id="startDate"
              class="form-control"
              [(ngModel)]="newPost.startDate"
              name="startDate"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="endDate">Data di fine</label>
          <div class="input-group">
            <input
              type="date"
              id="endDate"
              class="form-control"
              [(ngModel)]="newpost.endDate"
              name="endDate"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Crea</button>
      </form>
    </div>
    <div class="modal-footer">
      <button
        id="delete-button"
        *ngIf="isPostPage"
        (click)="deletePost(selectedPostId)"
      >
        Elimina esperienza
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="
          modal.close('Save click'); modifyMyPost(selectedPostId, newPost)
        "
      >
        Save
      </button>
    </div>
  </ng-template>
</div>
