<main>
  <section>
    <!-- Sezione centrale-->
    <div class="central">
      <h4>Post</h4>
      <div class="post-container">
        <p><strong>ID:</strong> {{ post._id }}</p>
        <p><strong>Testo:</strong> {{ post.text }}</p>
        <p><strong>Username:</strong> {{ post.username }}</p>
        <p><strong>Creazione:</strong> {{ post.createdAt }}</p>
        <p><strong>Aggiornamento:</strong> {{ post.updatedAt }}</p>
        <p><strong>__v:</strong> {{ post.__v }}</p>
      </div>
    </div>
  </section>
</main>
