.search {
  display: flex;
  flex-direction: row;
}

.d-flex {
  margin-left: 15%;
  margin-top: 20px;
}

#icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin-left: 30%;
}
