<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://cdn.discordapp.com/attachments/1117724354726342756/1143113201257558056/linkedin.png"
        alt="linkedin"
        width="30"
        height="24"
      />
    </a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Cerca"
        aria-label="Search"
      />
    </form>
  </div>
</nav>
